<div class="wrapper">
    @if (Enumerable.Count(Model) > 0)
    {
        <div class="panel panel-default">
            <div class="panel-body itemsFiltrar">
                @foreach (var product in Model)
                {
                    if (product.Stock > 0 && product.IsActive)
                    {
                        <div class="col-xs-4 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    @if (product.ImageRoute != null)
                                    {
                                        <img src="@ViewBag.Image@product.ImageRoute"
                                             width="150" height="150"
                                             alt="Product Image"
                                             asp-append-version="true" />
                                    }
                                    else
                                    {
                                        <img src="~/Images/DefaultProductImage.jpg" width="150" height="150" alt="Product Image">
                                    }
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a asp-controller="Product" asp-action="Detail" asp-route-Id="@product.Id" class="link-product-add-cart">Vista rápida</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info-product ">
                                    <h4>
                                        <a asp-controller="Product" asp-action="Detail" asp-route-Id="@product.Id">@product.Name</a>
                                    </h4>
                                    <div class="info-product-price">
                                        <span class="item_price">S./ @product.UnitPrice</span>
                                    </div>
                                    <div class="mb-4 snipcart-details top_brand_home_details item_add single-item hvr-outline-out" data-id="@product.Id" onclick="addProductToCart(this)">
                                        <input type="submit" value="Añadir a Carrito" class="button" />
                                    </div>
                                    <br />
                                    <div class="mt-5 snipcart-details top_brand_home_details item_add single-item hvr-outline-out" data-id="@product.Id" onclick="addProductToWishList(this)">
                                        <input type="submit" value="Añadir a deseos" class="button" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                        </div>
                    }
                }
            </div>
        </div>
        <div id="pagination-container" class="fa-pull-right">
        </div>
    }
    else
    {
        <h1 class="text-center">No se encontraron productos...</h1>
    }
</div>

<script>
    $(document).ready(function () {
        pagination();
    });
</script>