@model Marquesita.Models.Identity.User
@{
    ViewData["Title"] = "Mi Perfil";
}

<div class="contact-w3l">
    <div class="container">
        <h3 class="tittle-w3l">
            Mi Perfil
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>

        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form wthree">
                    <div class="modal-body modal-body-sub_agile">
                        <div class="main-mailposi">
                            <span class="fa fa-address-card-o" aria-hidden="true"></span>
                        </div>
                        <div class="content">
                            <div class="row">
                                <h1 class="profile-username text-center">@Model.FirstName @Model.LastName </h1>
                                <hr />
                                <div class="col-lg-4 order-lg-1 text-center">
                                    @if (Model.ImageRoute != null)
                                    {
                                        <img src="@ViewBag.Image@Model.ImageRoute"
                                             class="profile-user-img img-fluid img-circle" style="height: 150px"
                                             asp-append-version="true" />
                                    }
                                    else
                                    {
                                        <img src="~/Images/userIcon.png" style="height: 150px" class="profile-user-img img-fluid img-circle" alt="User profile picture">
                                        
                                    }
                                </div>

                                <div class="col-lg-8 order-lg-2">
                                    <div class="tab-content py-4">
                                        <div class="tab-pane active" id="profile">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Usuario</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>@Model.UserName</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Nombre</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>@Model.FirstName</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Apellidos</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>@Model.LastName</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Correo</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>@Model.Email</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Celular</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>@Model.Phone</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Fecha de Nacimiento</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>@Model.DateOfBirth.ToShortDateString()</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Fecha de Registro</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>@Model.RegisterDate</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pull-right">
                                    <a asp-controller="Client" asp-action="Edit">
                                        <input type="submit" value="Editar">
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <a asp-controller="Client" asp-action="Addresses">
                                        <input type="submit" value="Mis Direcciones">
                                    </a>
                                    <span>&nbsp</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
