@model Marquesita.Models.Business.Sale
@{
    ViewData["Title"] = "Nueva Venta";
    Layout = "_LayoutDashboard";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Ventas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Sale" asp-action="Index">Ventas</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@if (TempData.Peek("stockError") != null)
{
    <div class="content">
        <div class="container-fluid">
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-exclamation-triangle"></i> ¡Alerta!</h5>
                @TempData.Peek("stockError")
            </div>
        </div>
    </div>
}

@if (TempData.Peek("error") != null)
{
    <div class="content">
        <div class="container-fluid">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-ban"></i> ¡Alerta!</h5>
                @TempData.Peek("error")
            </div>
        </div>
    </div>
}
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Realizar Venta</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-body">
                            @ViewBag.StockNotAvalible
                            <div>
                                <h1>Cliente: @ViewBag.User.FirstName @ViewBag.User.LastName</h1>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12 col-md-12">
                                    <label asp-for="PaymentType"></label>
                                    <select asp-for="PaymentType" id="PaymentType" class="form-control">
                                        @foreach (var payment in ViewBag.PaymentList)
                                        {
                                            <option value="@payment"> @payment</option>
                                        }
                                    </select>
                                    <span asp-validation-for="PaymentType" class="text-danger"></span>
                                </div>
                            </div>
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre del Producto</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{Decimal total = 0; }
                                    @foreach (var detail in ViewBag.SaleDatailTemp)
                                    {
                                        total += (Decimal)(detail.Quantity * detail.Price);
                                        <tr>
                                            <th>
                                                @await Component.InvokeAsync("DashboardProductInfo", new { ProductId = detail.ProductId })
                                            </th>
                                            <td> @detail.Price  </td>
                                            <td> @detail.Quantity </td>
                                            <td> @detail.Subtotal </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                            <h3 class="float-sm-right">Subtotal: S/. @total</h3>
                            <input hidden asp-for="UserId" id="UserId" value="@ViewBag.User.Id" />
                            <input hidden asp-for="TotalAmount" id="TotalAmount" value="@total" />
                            <br />
                            <br />
                            <div class="fa-pull-left">
                                <a asp-controller="Sale" asp-action="AddProductClientSale" asp-route-userId="@ViewBag.User.Id" class="btn btn-danger"><i class="fas fa-arrow-left"></i></a>
                            </div>
                            @if (Enumerable.Count(ViewBag.SaleDatailTemp) > 0)
                            {
                                <div class="fa-pull-right">
                                    <button type="submit" class="btn btn-success" onclick="confirmOrder()"><i class="fas fa-save"></i> Confirmar Pedido</button>
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        MakeSaleActiveLink();
    });
</script>



