@model Marquesita.Infrastructure.ViewModels.Dashboards.Sales.SaleDetailTempViewModel

@{
    ViewData["Title"] = "Nueva Venta";
    Layout = "_LayoutDashboard";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Ventas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Sale" asp-action="Index">Ventas</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Crear Pedido</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-body">
                        @*<div class="pull-right">
            <label class="control-label right" for="fechaCompra">Fecha compra: @DateTime.Now </label>
        </div>*@
                        <div class="col-12" id="vistaPro">
                        </div>
                        <div class="col-12" id="vistaClient">
                        </div>
                        <table id="dataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th> Nombre del Producto </th>
                                    <th>Precio</th>
                                    <th>Cantidad </th>
                                    <th>Total </th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{Decimal total = 0; }
                                @foreach (var item in ViewBag.SaleDatailTemp)
                                {
                                    total += (Decimal)(item.Quantity * item.Price);
                                    <tr>
                                        <th>
                                            @await Component.InvokeAsync("DashboardProductInfo", new { ProductId = item.ProductId })
                                        </th>
                                        <td> @item.Price  </td>
                                        <td> @item.Quantity </td>
                                        <td> @item.Subtotal </td>
                                        <td>
                                            <a asp-action="Increase" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-plus"></i></a>
                                            <a asp-action="Decrease" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-minus"></i></a>
                                            <a asp-action="DeleteItem" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                        <br />
                        <br />
                        <h3 class="float-sm-right">Subtotal: S/. @total</h3>
                        <br />
                        <br />
                        @*<form asp-controller="Sale" asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-row">
            <div class="form-group col-12">
                <label for="PaymentType">Tipo de Pago</label>
                <select class="form-control">
                    <option disabled selected>Seleccionar</option>
                    <option value="1">Efectivo</option>
                    <option value="2">Transferencia</option>
                </select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" asp-items="UserId" class="form-control"></select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
            </div>
        </div>

                        </form>*@
                        @*<div class="col-12" id="vistaClient"> </div>*@

                        <div class="form-group">
                            <div class="form-group col-12">
                                <label asp-for="UserId"></label>
                                <input asp-for="UserId" class="form-control" onkeypress="return validarLetras(event)" />
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <br />
                        <p>
                            <a asp-controller="Sale" asp-action="ConfirmOrder" class="btn btn-primary">Confirmar Pedido</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        obtenerProductos();
        obtenerCliente();
    });

    function obtenerProductos() {
        $.get("/Sale/AddProduct", function (e) {
            $("#vistaPro").html(e);
        });
    }
    function obtenerCliente() {
        $.get("/Sale/IndexView", function (e) {
            $("#vistaClient").html(e);
        });
    }
</script>



