<div class="checkout-right">
    <h4>
        Su carrito de compras tiene:
        <span>@Enumerable.Count(ViewBag.ShoppingCart) Productos</span>
    </h4>
    <div class="table-responsive">
        <table class="timetable_sub">
            <thead>
                <tr>
                    <th></th>
                    <th>Cantidad</th>
                    <th>Nombre del Producto</th>
                    <th>Precio</th>
                    <th>SubTotal</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                @{Decimal total = 0; }
                @foreach (var cart in ViewBag.ShoppingCart)
                {
                    total += (Decimal)(cart.Quantity * cart.Products.UnitPrice);
                    <tr class="rem1">
                        <td class="invert-image">
                            @if (cart.Products.ImageRoute != null)
                            {
                                <img src="@ViewBag.Image@cart.Products.ImageRoute"
                                     width="150" height="150"
                                     alt="Product Image"
                                     asp-append-version="true" />
                            }
                            else
                            {
                                <img src="~/Images/DefaultProductImage.jpg" width="150" height="150" alt="Product Image">
                            }
                        </td>
                        <td class="invert">
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value">
                                        <span>@cart.Quantity</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="invert">@cart.Products.Name</td>
                        <td class="invert">@cart.Products.UnitPrice</td>
                        <td class="invert">@(cart.Quantity * cart.Products.UnitPrice)</td>
                        @if (cart.Products.Stock >= 100)
                        {
                            <td class="text-center"><span class="badge badge-pill badge-success">@cart.Products.Stock</span></td>
                        }
                        else if (cart.Products.Stock >= 50 && cart.Products.Stock < 100)
                        {
                            <td class="text-center"><span class="badge badge-pill badge-warning">@cart.Products.Stock</span></td>
                        }
                        else
                        {
                            <td class="text-center"><span class="badge badge-pill badge-danger">@cart.Products.Stock</span></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h3 class="pull-right">Total: S/. @total</h3>
</div>
<br />
<div class="checkout-right">
    <input hidden name="TotalAmount" value="@total" id="TotalAmount" />
    <h4>
        Escoja una Direccion
    </h4>
    <div class="pull-right">
        <a asp-controller="Client" class="btn btn-primary" asp-action="NewAddress" title="Nueva dirección"><i class="fas fa-plus-square"></i> <i class="fas fa-address-card"></i></a>
    </div>
    <br />
    <br />
    <select class="list_of_cities" name="addressId" id="addressId">
        @if (Enumerable.Count(ViewBag.AddressList) > 0)
        {
            foreach (var address in ViewBag.AddressList)
            {
                <option value="@address.Id">@address.FullNames / @address.Street / @address.Region / @address.City / @address.PostalCode</option>
            }
        }
        else
        {
            <option value="null">Agregue una dirección</option>
        }

    </select>
    <hr />
    <h4>
        Escoja un metodo de pago
    </h4>
    <select class="list_of_cities" name="paymentType" id="paymentType">
        @foreach (var list in ViewBag.PaymentList)
        {
            <option value="@list">@list</option>
        }
    </select>
    <hr />
    <br />
    <h4>
        Informacion de metodos de pago
    </h4>
    <div id="parentHorizontalTab">
        <ul class="resp-tabs-list hor_1">
            @foreach (var list in ViewBag.PaymentList)
            {
                <li>@list</li>
            }
        </ul>
        <div class="resp-tabs-container hor_1">
            <div>
                <div class="vertical_post">
                    <h5>Información de Pago contra entrega</h5>
                    <p>
                        Se aceptan pagos al recibir el pedido realizado, cuando realize la compra tan solo envienos un mensaje a nuestro WhatssApp
                        al siguiente enlace: <a href="https://bit.ly/37l3ea3"><strong><u>Click Aqui</u></strong></a>
                    </p>
                    <br />
                    <p>
                        Indicando la siguiente <u>informacíon</u>:
                        <br />
                        <ol>
                            <li>Nombre del cliente que ha hecho el pedido(No el de la direccion, el de la cuenta)</li>
                            <li>Fecha del pedido</li>
                        </ol>
                    </p>
                    <br />
                    <hr />
                    <div class="agile-sometext">
                        <div class="sub-some child-momu">
                            <h5>Recuerda nuestros metodos de pago contra entrega</h5>
                            <ul>
                                <li>
                                    <img src="~/Images/Payments/bpc.png" />
                                </li>
                                <li>
                                    <img src="~/Images/Payments/interbank.png" />
                                </li>
                                <li>
                                    <img src="~/Images/Payments/scotiabank.png" />
                                </li>
                                <li>
                                    <img src="~/Images/Payments/logo-banco-nacion.png" />
                                </li>
                                <li>
                                    <img src="~/Images/Payments/yapeIcon.png" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="vertical_post">
                    <h5>Cuentas de Banco para deposito</h5>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p>N° de cuenta: 048_17138255</p>
                            <p>Titular de cuenta: Jorge Raul Valera Culqui</p>
                            <p>Banco: Banco de la nacion</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <img src="~/Images/Payments/logo-banco-nacion big.png" />
                        </div>
                    </div>
                    <hr />
                    <p>
                        Cuando realize la compra tan solo envienos un mensaje a nuestro WhatssApp
                        al siguiente enlace: <a href="https://bit.ly/37l3ea3"><strong><u>Click Aqui</u></strong></a>
                    </p>
                    <br />
                    <p>
                        Indicando la siguiente <u>informacíon</u>:
                        <br />
                        <ol>
                            <li>Nombre del cliente que ha hecho el pedido(No el de la direccion, el de la cuenta)</li>
                            <li>Fecha del pedido</li>
                            <li>Voucher del banco que ha depositado</li>
                        </ol>
                    </p>
                </div>
            </div>
            <div>
                <div class="vertical_post">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h5 class="text-center">Número de celular de Yape</h5>
                            <p>N° de de celular: 5</p>
                            <p>Titular de cuenta: </p>
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <h5>Código QR</h5>
                            <img src="~/Images/Payments/logo-banco-nacion big.png" />
                        </div>
                    </div>
                    <hr />
                    <p>
                        Cuando realize la compra tan solo envienos un mensaje a nuestro WhatssApp
                        al siguiente enlace: <a href="https://bit.ly/37l3ea3"><strong><u>Click Aqui</u></strong></a>
                    </p>
                    <br />
                    <p>
                        Indicando la siguiente <u>informacíon</u>:
                        <br />
                        <ol>
                            <li>Nombre del cliente que ha hecho el pedido(No el de la direccion, el de la cuenta)</li>
                            <li>Fecha del pedido</li>
                            <li>Captura de pantalla de la transferencia de Yape</li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<div class="checkout-right-basket fa-pull-left">
    <a asp-controller="ShoppingCart" asp-action="Index">
        <span class="fa fa-hand-o-left" aria-hidden="true"> Regresar</span>
    </a>
</div>
<div class="checkout-right-basket fa-pull-right">
    <a href="#" onclick="confirmEcommerceOrder()">
        Realizar pago
        <span class="fa fa-hand-o-right" aria-hidden="true"></span>
    </a>
</div>

<link rel="stylesheet" type="text/css" href="~/EcommerceTemplate/css/easy-responsive-tabs.css " />
<script src="~/EcommerceTemplate/js/easyResponsiveTabs.js"></script>

<script>
    $(document).ready(function () {
        responsiveTabs();
    });
</script>
