<table id="dataTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre del Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @{Decimal total = 0; }
        @foreach (var detail in ViewBag.SaleDatailTemp)
        {
            total += (Decimal)(detail.Quantity * detail.Price);
            <tr>
                <th>
                    @await Component.InvokeAsync("DashboardProductInfo", new { ProductId = detail.ProductId })
                </th>
                <td> @detail.Price  </td>
                <td> @detail.Quantity </td>
                <td> @detail.Subtotal </td>
                <td>
                    <button data-id="@detail.Id" onclick="incrementProductSaleTemp(this)" class="btn btn-warning" title="Incrementar"><i class="fa fa-plus"></i></button>
                    <button data-id="@detail.Id" onclick="decreaseProductSaleTemp(this)" class="btn btn-info" title="Disminuir"><i class="fa fa-minus"></i></button>
                    <button data-id="@detail.Id" onclick="deleteItemProductSaleTemp(this)" class="btn btn-danger">Delete</button>
                </td>
            </tr>

        }
    </tbody>
</table>
<br />
<br />
<h3 class="float-sm-right">Subtotal: S/. @total</h3>
<br />
<br />