@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Ventas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Sale" asp-action="Index">Ventas</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="card card-solid">
        <div class="card-body">
            @if ((await AuthorizationService.AuthorizeAsync(User, "CanAddSales")).Succeeded)
            {
                <div class="fa-pull-right">
                    <a href="~/Sale/Create" class="btn btn-primary btn-block" title="Nueva Venta"><i class="fas fa-plus-square"></i></a>
                </div>
                <br /><br />
            }

            <table id="dataTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th> Cliente </th>
                        <th> Fecha </th>
                        <th> Tipo de pago </th>
                        <th> Tipo de venta </th>
                        <th> Estado </th>
                        <th> Monto Total </th>
                        <th> Vendedor </th>
                        <th> # Numero de compras</th>
                        <th> Cantidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sale in Model)
                    {
                        <tr>
                            <th>
                                @await Component.InvokeAsync("DashboardEmployeeInfo", new { userId = sale.UserId })
                            </th>

                            <td>@sale.Date</td>
                            <td>@sale.PaymentType</td>
                            <td>@sale.TypeOfSale</td>
                            <td>@sale.SaleStatus</td>
                            <td>@sale.Value</td>
                            <td>
                                @await Component.InvokeAsync("DashboardEmployeeInfo", new { userId = sale.EmployeeId })
                            </td>
                            <td>@sale.Lines</td>
                            <td>@sale.Quantity</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@sale.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="Details" asp-route-id="@sale.Id" class="btn btn-info">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        dataTableScript();
    });
</script>





