@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Lista de Roles";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Roles</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Role" asp-action="Index">Roles</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card card-solid">
        <div class="card-body">
            @if ((await AuthorizationService.AuthorizeAsync(User, "CanAddRoles")).Succeeded)
            {
                <div class="fa-pull-right">
                    <a asp-controller="Role" asp-action="Create" class="btn btn-primary btn-block"><i class="fas fa-plus-square"></i> Nuevo Rol</a>
                </div>
                <br /><br />
            }
            <table id="dataTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Cargo</th>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanEditRoles")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "CanDeleteRoles")).Succeeded)
                        {
                            <th>Opciones</th>
                        }
                        else
                        {
                            <th>Opcion</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Name</td>
                            @if ((await AuthorizationService.AuthorizeAsync(User, "CanEditRoles")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "CanDeleteRoles")).Succeeded)
                            {
                                <td>
                                    @if (role.Name != "Super Admin")
                                    {
                                        <div class="form-row text-center">
                                            <a asp-controller="Role" asp-action="Detail" asp-route-Id="@role.Id" class="btn btn-info">Detalle</a>
                                            @if ((await AuthorizationService.AuthorizeAsync(User, "CanEditRoles")).Succeeded)
                                            {
                                                <span>&nbsp</span><a asp-controller="Role" asp-action="Edit" asp-route-Id="@role.Id" class="btn btn-warning">Editar</a><span>&nbsp</span>
                                            }
                                            @if ((await AuthorizationService.AuthorizeAsync(User, "CanDeleteRoles")).Succeeded)
                                            {
                                                <div id="DeleteRoleClic_@role.Id" class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2" data-id="@role.Id" onclick="deleteRol(this)">
                                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                                </div>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-row text-center">
                                            <a asp-controller="Role" asp-action="Detail" asp-route-Id="@role.Id" class="btn btn-info">Detalle</a>
                                        </div>
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="form-row text-center">
                                        <a asp-controller="Role" asp-action="Detail" asp-route-Id="@role.Id" class="btn btn-info">Detalle</a>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        dataTableScript();
    });
</script>

