@model Marquesita.Infrastructure.ViewModels.Dashboards.UserEditViewModel
@{
    ViewData["Title"] = "Editar";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Editar datos de Colaborador</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="User" asp-action="Index">Usuarios</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Datos de @Model.FirstName @Model.LastName</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-body">
                        <form asp-controller="User" asp-action="Edit" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="Id" value="@ViewBag.User" />
                            <div class="form-row">
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="FirstName"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="LastName"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="Phone"></label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProfileImage" class="control-label">Foto de colaborador </label>
                                <input asp-for="ProfileImage" id="fichero" accept="image/*" class="form-control-file btn btn-file">
                                <span asp-validation-for="ProfileImage" class="text-danger"></span>
                                <p id="texto"> </p>
                                @if (Model.ImageRoute != null)
                                {
                                    <img src="~/Images/Users/Employees/@Model.ImageRoute"
                                         id="img" width="150" height="150"
                                         asp-append-version="true" />
                                }
                                else
                                {
                                    <img id="img" width="150" height="150" />
                                }
                                
                            </div>
                            <div class="form-group">
                                <label for="Role">Role</label>
                                <select name="Role" id="Role" class="form-control">
                                    @foreach (var role in ViewBag.Roles)
                                    {
                                        if (role.Name == ViewBag.UserRole)
                                        {
                                            <option selected value="@role">@role</option>
                                        }
                                        else
                                        {
                                            <option value="@role">@role</option>
                                        }

                                    }
                                </select>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>
                            <a class="btn btn-danger" asp-controller="User" asp-action="Index"><i class="fas fa-arrow-left"></i> Regresar</a>
                            <button type="submit" class="btn btn-warning"><i class="fas fa-sync-alt"></i> Actualizar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

