@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Lista de productos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Product" asp-action="List">Productos</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card card-solid">
        <div class="card-body">
            @if ((await AuthorizationService.AuthorizeAsync(User, "CanAddProducts")).Succeeded)
            {
                <div class="fa-pull-right">
                    <a asp-controller="Product" asp-action="Create" class="btn btn-primary btn-block" title="Nuevo Producto"><i class="fas fa-plus-square"></i></a>
                </div>
                <br /><br />
            }
            <table id="dataTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanEditProducts")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "CanDeleteProducts")).Succeeded)
                        {
                            <th>Opciones</th>
                        }
                        else
                        {
                            <th> </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            @if (product.ImageRoute != null)
                            {
                                <td class="text-center">
                                    <img src="@ViewBag.Image@product.ImageRoute"
                                         class="rounded-circle"
                                         alt="Product Img"
                                         height="50" width="50"
                                         asp-append-version="true" />
                                </td>
                            }
                            else
                            {
                                <td class="text-center">
                                    <img src="~/DashboardTemplate/dist/img/user4-128x128.jpg"
                                         class="rounded-circle"
                                         alt="Product Img"
                                         height="50" width="50"
                                         asp-append-version="true">
                                </td>
                            }
                            <td>@product.Name</td>
                            <td class="text-center">@product.Stock</td>
                            <td class="text-center">@String.Format("{0:S/. 0.0}", product.UnitPrice)</td>
                            @if (product.IsActive)
                            {
                                <td class="text-center">
                                    <span class="badge badge-success">Activo</span>
                                </td>
                            }
                            else
                            {
                                <td class="text-center">
                                    <span class="badge badge-danger">Inactivo</span>
                                </td>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, "CanEditProducts")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "CanDeleteProducts")).Succeeded)
                            {
                                <td class="text-center">
                                    <div class="form-row">
                                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanEditProducts")).Succeeded)
                                        {
                                            <span>&nbsp</span><a asp-controller="Product" asp-action="Edit" asp-route-Id="@product.Id" class="btn btn-warning" title="Editar"><i class="fas fa-edit"></i></a><span>&nbsp</span>
                                        }
                                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanDeleteProducts")).Succeeded)
                                        {
                                            <div id="DeleteProductClic_@product.Id" class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2" data-id="@product.Id" onclick="deleteProduct(this)">
                                                <button type="submit" class="btn btn-danger" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        }
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        dataTableScript();
    });
</script>

